<div class="container">
  <table class="table">
    <thead>
    <tr>
      <th scope="col" class="col-9">Produit</th>
      <th scope="col" class="col-2 text-right">Prix</th>
      <th scope="col" class="col-1 text-right">Quantité</th>
      <td></td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let b of _books">

      <td>
        <div class="row">
          <div><img src="{{b.cover}}" class="cart-cover"/></div>
          <div class="col-6 margin-left-1">
            <a href="#" class="font-weight-bold">{{b.title}}</a>
            <p>{{getSynopsis(b)}}</p>
          </div>
        </div>
      </td>
      <td class="text-right">EUR {{b.price}}</td>
      <td class="text-right">@mdo</td>
      <td class="text-center">
        <a href="#" class="fa fa-trash-o fa-2x no-text-decoration" (click)="removeBook(b.isbn)"></a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
